.home_page{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 70%;
    margin: auto;
}
.body a{
    text-decoration: none;
}

/* ------- */

.body {
    display: flex;
}
.body .left{
    background-color: #264653;
    color: #fff;
    width: 300px;
}
.body .right{
    width: calc(100% - 300px);
    padding: 20px;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.main-right{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    width: calc(100% - 1px - 20px);
}
.button-main{
    display: flex; 
    padding-bottom: 5px;
    border-bottom: 3px solid;  
    border-color: #eee;
}
.button-main a{
    background-color: #264653;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    width: 100px;
    margin-right: 5px;
}

.insert{
    padding: 5px 20px;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.submit-button{
    margin: auto;
    margin-top: 15px;
    width: 500px;
}

form input{
    width: 500px;
}
/* --- */

.notice{
    text-align: center;
    border-radius: 5px;
    background-color: #80ed99;
    color: #22577a;
    margin: 10px auto;
    width: 100%;
    padding: 4px 20px;
}

.button-selected{
    /* Dung code gan khi chon trang */
}




/* 
.home_page .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    font-size: 20px;
    font-weight: 700;
}

.home_page .selection{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.home_page .selection a{
    display: flex;
    color: brown;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: center;
}


.home_page .selection a div{
    /* width: 100%; */
    /* border: 1px solid; 
}


.home_page .selection a:hover{
    background-color: aqua;
    cursor: pointer;
} */

